.keywords-container {
  width: 100%;
}

.input-keywords {
  border: 1px solid #ed7d2c;
  background-color: #ed7d2c;
  opacity: 0.6;
  width: 100%;
  padding: 0.7rem 0.5rem;
  resize: none;
  color: black;
  font-weight: 700;
}

.input-keywords::placeholder {
  color: black;
  font-weight: 400;
}

.main-form-container {
  padding: 2rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal-info-container {
  margin-bottom: 2rem;
  width: 100%;
}

.label-tooltip-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.work-experience-container {
  width: 100%;
}

.skills-container {
  width: 100%;
}

.languages-container {
  width: 100%;
}

.education-container {
  width: 100%;
}

.courses-container {
  width: 100%;
}

.courses-grid-wrapper {
  display: flex;
  flex-direction: column;
}

.hobbies-container {
  width: 100%;
}

.label-block {
  display: block;
  color: gray;
  margin-bottom: 0.5rem;
  font-weight: 700;
  margin-right: 1rem;
}

.label-input-container {
  padding: 0 0 1rem;
}

.date-input {
  margin: 0 0 1rem;
  padding: 0.4rem 1rem;
}

.preview {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.pdf-viewer {
  width: 300px;
  height: 500px;
}

.input {
  border: 1px solid #f2f5fa;
  background-color: #f2f5fa;
  width: 100%;
  padding: 0.7rem 0.5rem;
  resize: none;
}

.input:focus {
  outline-color: rgb(237, 125, 44);
}

.add-button,
.remove-button {
  padding: 0.5rem;
  text-align: start;
  border: 1px solid white;
  background-color: white;
  color: #3c64b1;
  border-radius: 0.5rem;
  font-weight: 400;
}

.add-button:hover,
.add-button:focus {
  cursor: pointer;
  background-color: #f2f5fa;
}

.remove-button:hover,
.remove-button:focus {
  cursor: pointer;
  color: #ed7d2c;
}

.preview-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
  position: sticky;
  bottom: 0;
  right: 0;
}

.preview-button {
  border: 1px solid #3c64b1;
  background-color: white;
  color: #3c64b1;
  border-radius: 0.5rem;
  font-weight: 400;
  padding: 1rem;
}

.preview-button:hover,
.preview-button:focus {
  cursor: pointer;
  background-color: #3c64b1;
  color: white;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.download-button {
  border: 1px solid #3c64b1;
  background-color: white;
  color: #3c64b1;
  border-radius: 0.5rem;
  font-weight: 400;
  padding: 1rem;
  margin-left: 0.5rem;
}

.download-button:hover,
.download-button:focus {
  cursor: pointer;
  background-color: #3c64b1;
  color: white;
}

.back-button {
  border: 1px solid #3c64b1;
  background-color: white;
  color: #3c64b1;
  border-radius: 0.5rem;
  font-weight: 400;
  padding: 1rem;
}

.back-button:hover,
.back-button:focus {
  cursor: pointer;
  background-color: #3c64b1;
  color: white;
}

.section-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-header-container > * + * {
  margin-left: 1rem;
}

@media (min-width: 688px) {
  .main-form-container {
    align-items: flex-start;
  }

  .personal-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'personalfirst personalsecond'
      'personalthird personalthird';
    column-gap: 30px;
  }

  .name-surname-grid {
    grid-area: personalfirst;
  }

  .email-mobile-grid {
    grid-area: personalsecond;
  }

  .pi-textarea-grid {
    grid-area: personalthird;
  }

  .work-experience-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'workfirst worksecond'
      'workthird workthird';
    column-gap: 30px;
  }

  .position-empl-city-grid {
    grid-area: workfirst;
  }

  .dates-grid {
    grid-area: worksecond;
  }

  .we-textarea-grid {
    grid-area: workthird;
  }

  .education-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'edufirst edusecond'
      'eduthird eduthird';
    column-gap: 30px;
  }

  .uni-grid {
    grid-area: edufirst;
  }

  .uni-dates-grid {
    grid-area: edusecond;
  }

  .education-textarea-grid {
    grid-area: eduthird;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }

  .languages-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }

  .courses-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'coursefirst coursesecond'
      'coursethird coursethird';
    column-gap: 30px;
  }

  .course-name-grid {
    grid-area: coursefirst;
  }

  .organization-grid {
    grid-area: coursesecond;
  }

  .c-textarea-grid {
    grid-area: coursethird;
  }

  .preview-button {
    border: 1px solid #3c64b1;
    background-color: white;
    color: #3c64b1;
    border-radius: 0.5rem;
    font-weight: 400;
    padding: 1rem 3rem;
  }

  .pdf-viewer {
    width: 400px;
    height: 600px;
  }

  .section-header-container,
  .label-tooltip-container {
    justify-content: initial;
  }
}

@media (min-width: 992px) {
  .main-form-container {
    max-width: 70%;
    margin: 0 auto;
    padding: 3rem;
  }

  .personal-info-grid,
  .work-experience-grid,
  .education-grid,
  .skills-grid,
  .languages-grid,
  .courses-grid {
    column-gap: 60px;
  }

  .pdf-viewer {
    width: 500px;
    height: 700px;
  }
}
