.container-home {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.create-cv {
  padding: 1rem 1.5rem;
  border: 1px solid #3c64b1;
  background-color: white;
  color: #3c64b1;
  border-radius: 0.5rem;
  font-weight: 400;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.image-home {
  padding-top: 1rem;
  width: 20rem;
  height: auto;
}

.container-home-guide {
  background-color: #e8edf6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.cv-example {
  width: 10rem;
  height: auto;
}

.container-home-statistics {
  padding: 2rem;
}

.container-home-numbers-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-home-text {
  margin-left: 1rem;
}

.container-home-action {
  background-color: #e8edf6;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p {
  line-height: 1.6;
}

@media (min-width: 375px) {
  .header-medium {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 688px) {
}
