.container-home {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2rem;
}

.create-cv {
  padding: 1rem 1.5rem;
  border: 1px solid #3c64b1;
  background-color: white;
  color: #3c64b1;
  border-radius: 0.5rem;
  font-weight: 400;
  margin-top: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
}

.create-cv:hover,
.create-cv:focus {
  background-color: #3c64b1;
  color: white;
}

.create-cv-link {
  cursor: pointer;
}

.image-home {
  padding-top: 1rem;
  width: 20rem;
  height: auto;
}

.container-home-guide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.cv-example {
  width: 10rem;
  height: auto;
  margin: 2rem 0 0;
}

.statistics {
  text-align: justify;
  line-height: 1.6;
  list-style-type: circle;
  list-style-position: inside;
  padding: 0;
}

.statistics-list {
  margin-top: 1rem;
}

.container-home-statistics {
  padding: 2rem;
  background-color: #3c64b1;
  color: white;
}

.container-home-numbers-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-home-text {
  margin-left: 1rem;
}

.statistics-text {
  font-weight: 700;
  font-size: 1.3rem;
}

.cv-statistics {
  width: 15rem;
  height: auto;
}

.cv-statistic-flex {
  display: flex;
  justify-content: center;
}

.container-home-action {
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p {
  line-height: 1.6;
}

@media (min-width: 375px) {
  .header-medium {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 688px) {
  .image-home {
    padding-top: 1.5rem;
    width: 30rem;
  }
}

@media (min-width: 992px) {
  .image-home {
    padding-top: 1.7rem;
    width: 35rem;
  }

  .home-header-text {
    width: 350px;
    margin: 0 auto;
  }

  .home-header {
    width: 350px;
    margin: 0 auto;
  }

  .container-home {
    max-width: 80%;
    width: 992px;
    padding: 6rem 2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'headername homeimage'
      'headertext homeimage'
      'homebutton homeimage';
    column-gap: 30px;
  }

  .button-top {
    max-width: 65%;
    margin: 0 auto;
  }

  .home-header {
    grid-area: headername;
  }

  .home-header-text {
    grid-area: headertext;
  }

  .create-cv {
    grid-area: homebutton;
  }

  .image-home {
    grid-area: homeimage;
  }

  .container-home-statistics {
    padding: 4rem 6rem;
    // padding: 2rem;
    // background-color: #3c64b1;
    // color: white;
  }

  .statistics-container {
    margin: 1rem 0 2rem;
  }
}
