.container-home {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.create-cv {
  padding: 1rem 1.5rem;
  border: 1px solid #3c64b1;
  background-color: white;
  color: #3c64b1;
  border-radius: 0.5rem;
  font-weight: 400;
  margin-top: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
}

.create-cv:hover,
.create-cv:focus {
  background-color: #3c64b1;
  color: white;
}

.create-cv-link {
  cursor: pointer;
}

.image-home {
  padding-top: 1rem;
  width: 20rem;
  height: auto;
}

.container-home-guide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.cv-example {
  width: 10rem;
  height: auto;
  margin: 2rem 0 0;
}

.statistics {
  text-align: justify;
  line-height: 1.6;
  list-style-type: circle;
  list-style-position: inside;
  padding: 0;
}

.statistics-list {
  margin-top: 1rem;
}

.container-home-statistics {
  padding: 2rem;
  background-color: #3c64b1;
  color: white;
}

.container-home-numbers-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-home-text {
  margin-left: 1rem;
}

.statistics-text {
  font-weight: 700;
  font-size: 1.3rem;
}

.cv-statistics {
  width: 15rem;
  height: auto;
}

.cv-statistic-flex {
  display: flex;
  justify-content: center;
}

.container-home-action {
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p {
  line-height: 1.6;
}

@media (min-width: 375px) {
  .header-medium {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 688px) {
  .image-home {
    padding-top: 1.5rem;
    width: 30rem;
  }
}

@media (min-width: 992px) {
  .image-home {
    padding-top: 1.7rem;
    width: 40rem;
  }
}
