.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0.5rem;
  background-color: #e8edf6;
}

.nav-list-container {
  display: flex;
  justify-content: space-around;
}

.nav-list {
  display: inline-block;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: #505bbb;
  font-weight: 700;
  margin-right: 2rem;
}

.nav-link:hover,
.nav-link:focus {
}

.logo {
  display: flex;
  color: #3c64b1;
  font-weight: 700;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.logo-link {
  color: #505bbb;
  text-decoration: none;
}

@media (min-width: 688px) {
}
