.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0.5rem;
  background-color: #e8edf6;
}

.nav--desktop {
  display: none;
}

.nav-list-container {
  display: flex;
  justify-content: space-around;
}

.nav-list-item {
  list-style-type: none;
  margin-bottom: 2rem;
}

.nav-list-item:last-child {
  margin-bottom: 0;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-link {
  text-decoration: none;
  color: #3c64b1;
  font-weight: 700;
  margin-bottom: 2rem;
}

.nav-link:hover,
.nav-link:focus {
  color: #ed7d2c;
}

.logo {
  display: flex;
  color: #3c64b1;
  font-weight: 700;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

.logo-link {
  color: #3c64b1;
  text-decoration: none;
}

.mobile-nav-wrapper {
  position: absolute;
  z-index: 1000;
  width: 100%;
  right: 0;
  top: 4rem;
  background-color: #e8edf6;
  padding: 1rem;
}

@media (min-width: 688px) {
  .nav-container {
    padding: 0.5rem 2rem;
  }

  .nav--desktop {
    display: block;
  }

  .nav--mobile {
    display: none;
  }

  .nav-list {
    flex-direction: row;
    align-items: center;
  }

  .nav-list-item {
    margin-bottom: 0;
    margin-right: 2rem;
  }

  .nav-list-item:last-child {
    margin-right: 0;
  }
}
