.footer-container {
  padding: 1rem;
  color: #373f41;
  background-color: rgba(80, 91, 188, 0.3);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.developed-links-container {
  margin: 0.5rem;
}

.developed-link {
  text-decoration: none;
  color: #373f41;
  font-weight: 900;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.developed-link:hover,
.developed-link:focus {
  cursor: pointer;
  text-decoration: underline;
}

.resources-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resource-link {
  text-decoration: none;
  color: grey;
  font-size: 0.5rem;
}
