.container-tips {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.resume-statement-example {
  font-style: italic;
}

.create-cv {
  padding: 1rem 1.5rem;
  border: 1px solid #3c64b1;
  background-color: white;
  color: #3c64b1;
  border-radius: 0.5rem;
  font-weight: 400;
  margin-top: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
}

.create-cv:hover,
.create-cv:focus {
  background-color: #3c64b1;
  color: white;
}

.create-cv-link {
  cursor: pointer;
}

.header-about {
  text-align: center;
}

.cv-guide-title {
  text-align: center;
}

.cv-guide-subtitle {
  text-align: center;
}

@media (min-width: 688px) {
  .container-tips {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  }
}

@media (min-width: 992px) {
  .container-tips {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem;
  }
}
